{% extends 'back.html.twig' %}

{% block title %}New Promotion{% endblock %}

{% block body %}
    <h1>Create new Promotion</h1>

    {{ include('promotion/_form.html.twig') }}

    <a href="{{ path('promotion_index') }}"style="color:red;">back to list</a>
{% endblock %}
