{% extends 'base2.html.twig' %}

{% block title %}Edit Admin{% endblock %}

{% block body %}

<section id="main-content">
      <section class="wrapper">
        <!-- BASIC FORM ELELEMNTS -->
        <div class="row mt">
          <div class="col-lg-6 col-md-6 col-sm-6">

    <h1>Edit Admin</h1>

    {{ include('admin/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_index') }}">back to list</a>

    {{ include('admin/_delete_form.html.twig') }}
    </div>
</div>
</section>
{% endblock %}
