{% extends 'base2.html.twig' %}

{% block body %}
<br></br>
<br></br>
<section id="main-content">
      <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i> Ajouter Admin </h3>
        <!-- BASIC FORM ELELEMNTS -->
        <div class="row mt">
          <div class="col-lg-6 col-md-6 col-sm-6">
 {{ include('admin/_form.html.twig')}}
</div>
</div>
</section>
{% endblock %}
